.header {
  background-color: #3f5252;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    margin-bottom: 30px;
  }

  &__bottom {
    padding: 0 20px;
  }

  &__title {
    font-family: 'Playfair display', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;
    color: #f1f5f4;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    letter-spacing: 0%;
    color: #f1f5f4;
    margin: 0;
  }

  &--additional-text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19.5px;
  }

  &--main-text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  &__button {
    display: block;
    padding: 22px 0;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    color: #f1f5f4;
    text-decoration: none;
    background-color: #cd4d31;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }
}
