.actually-exhibitions {
  padding: 90px 0 0;

  @include onTablets {
    padding-top: 105px;
  }

  &__container {
    position: relative;
  }

  &__title {
    @include h3;
    color: #1c1b29;
    margin-bottom: 60px;
    @include onTablets {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }

  &__card {
    @include onTablets {
      &:first-child {
        grid-column: 1 / 4;
      }

      &:last-child {
        grid-column: 4 / 7;
      }
    }
  }

  &__first-image {
    background-image: url(../images/actually-exhibitions/image1-mobile.png);
  }

  &__second-image {
    background-image: url(../images/actually-exhibitions/image2-mobile.png);
  }
}
