.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: $main-color-text;
  background-color: #cd4d31;
  padding: 22px 0;
  width: 100%;

  @include onTablets {
    width: 330px;
  }

  @include onDesktop {
    width: 270px;
  }

  &--secondary {
    background-color: $c-gray;
    border: 1px solid #cd4d31;
    color: #cd4d31;

    &::after {
      content: "";
      display: inline-block;
      margin-left: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 12px;
      width: 14px;
      background-image: url(../images/actually-exhibitions/arrowRight.png);
    }
  }
}
