.header {
  background-color: $main-color;
  padding: 20px 0 0;
  position: relative;

  @include onTablets {
    padding: 26px 0 0;
  }

  @include onDesktop {
    height: 100vh;
  }

  &__content {
    @include onTablets {
      @include gridTablets;
    }

    @include onDesktop {
      @include gridDesktop;
    }
  }

  &__text {
    grid-column: 1 / 7;
    margin-bottom: 40px;
    @include onTablets {
      @include gridTablets;
      align-self: start;
      margin-bottom: 70px;
    }

    @include onDesktop {
      grid-column: 1 / 7;
      margin-bottom: 56px;
    }
  }

  &__top {
    margin-bottom: 70px;
    @include onTablets {
      margin-bottom: 124px;
    }
  }

  &__date {
    @include additional-text;
    color: $main-color-text;
    margin-bottom: 10px;
    @include onTablets {
      grid-column: 1 / 4;
    }
  }

  &__title {
    @include h1;
    color: $main-color-text;
    margin-bottom: 30px;
    @include onTablets {
      grid-column: 1 / 6;
      font-size: 72px;
      line-height: 72px;
      margin-bottom: 20px;
    }
  }

  &__info {
    @include main-text;
    color: $main-color-text;
    margin-bottom: 40px;
    @include onTablets {
      grid-column: 1 / 4;
      margin-bottom: 50px;
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;
    @include onTablets {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      position: absolute;
      top: 137px;
      left: 655px;
      right: 0;
      bottom: 0;
    }
  }

  &__image {
    height: 245px;
    width: 100%;
    @include onTablets {
      height: 494px;
    }

    @include onDesktop {
      height: 100%;
    }
  }

  &__desktop-date {
    display: none;
    @include h6;

    @include onDesktop {
      display: flex;
      gap: 20px;
      align-items: center;
      grid-column: 1 / 7;

      &::after {
        content: "";
        width: 469px;
        height: 1px;
        background-color: #f1f5f4;
      }
    }
  }

  &__button {
    @include onDesktop {
      margin-bottom: 135px;
    }
  }
}
