.subscribe {
  &__title {
    @include h3;
    margin-bottom: 20px;
  }

  &__info {
    @include main-text;
    margin-bottom: 50px;
  }

  &__field {
    width: 100%;
    border: transparent;
    background-color: $c-gray;
    border-bottom: 1px solid #1c1b29;
    margin-bottom: 30px;
    padding: 3px 0;
    &::placeholder {
      @include main-text;
    }
  }
}
