%additional-text {
  font-family: "Raleway-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
}

%main-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

%h1 {
  font-size: 48px;
  line-height: 48px;
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
}

%h2 {
  font-size: 38px;
  line-height: 38px;
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
}

%h3 {
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 28px;
  line-height: 35px;
}

%h4 {
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 25px;
}

%h5 {
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 30px;
}

%h6 {
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 17, 5px;
}
