@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablets {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin gridTablets {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
}

@mixin gridDesktop {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
}

@mixin additional-text {
  font-family: "Raleway-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
  color: $main-color-text;
}

@mixin main-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

@mixin h1 {
  font-size: 48px;
  line-height: 48px;
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
}

@mixin h2 {
  font-size: 38px;
  line-height: 38px;
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

@mixin h3 {
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 28px;
  line-height: 35px;
}

@mixin h4 {
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 25px;
}

@mixin h5 {
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 30px;
}

@mixin h6 {
  color: $main-color-text;
  margin: 0;
  font-family: "Playfair-Display", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 17, 5px;
}
