@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablets {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin gridTablets {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
}

@mixin gridDesktop {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
}
